* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Pirelli_t' ;
  src: url("../fonts/Pirelli Thin.otf");
}
@font-face {
  font-family: 'Pirelli' ;
  src: url("../fonts/Pirelli Regular.otf");
}
@font-face {
  font-family: 'Pirelli_l' ;
  src: url("../fonts/Pirelli Light.otf");
}
@font-face {
  font-family: 'neuetv' ;
  src: url("../fonts/NeueTelevision-Light.otf");
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    font-family: 'Pirelli', sans-serif;
    color: #111;
    overflow: hidden;
}

canvas {
    display: block;
}

